<div class="white-popup">
    <div class="mfp-title">{{ 'pages_title.create_travel_schedule'|trans }}</div>
    <div class="travel-schedule-form-js">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>