.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
.mfp-title {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
.success {
  color: #3e8039;
}
.errors {
  color: #d32115;
}